<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/corpLayout}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/css/productFormStyle.css">
	<script src="/js/productForm.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<div layout:fragment="content">
	<form class="productForm" role="form" method="post" enctype="multipart/form-data" th:object="productFormDto">
        <ul>
            <li>
                <h2>상품 등록</h2>
            </li>
            
            <li>
            	<input type="hidden" th:field="*{id}">
                <p class="listN">상품 카테고리</p>
                    <select name="cate" id="cate">
                        <option value="0">내/외부 구충제</option>
                        <option value="10">기관지</option>
                        <option value="20">알러지/피부</option>
                        <option value="30">심장</option>
                        <option value="40">안구</option>
                        <option value="50">구강</option>
                        <option value="60">귀</option>
                        <option value="70">해열/진통</option>
                        <option value="80">위장약</option>
                        <option value="90">소독약</option>
                        <option value="100">보조제</option>
                    </select>
            </li>
            <li>
                <p class="listN">온라인 구매 가능 여부</p>
                    <select name="onlineBuy" id="onlineBuy">
                        <option value="Y">가능</option>
                        <option value="N">불가능</option>
                    </select>
            </li>
            <li>
                <p class="listN">상품명</p>
                <input type="text" th:filed="*{name}" placeholder="상품명을 입력해주세요.">
                <p th:if="${fields.hassErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
            </li>
            <li>
                <p class="listN">가격</p>
                <input type="number" th:filed="*{price}" placeholder="가격을 입력해주세요.">
            </li>
            <li>
                <p class="listN">제조사/업체명</p>
                <input type="text" th:filed="*{madeBy}" placeholder="제조사/업체명을 입력해주세요.">
            </li>
            <li>
                <p class="listN">재고 수량</p>
                <input type="text" th:filed="*{stockNumber}" placeholder="온라인 판매 상품이 아닐 시 입력X">
            </li>
            <li>
                <p class="listN">대표 성분</p>
                <textarea name="ingredient" th:filed="*{ingredient}" cols="50" rows="5"></textarea>
            </li>
            <li>
                <p class="listN">상세 설명</p>
                <textarea th:filed="*{detail}" cols="70" rows="10" placeholder="제품 설명 / 복용 방법 등"></textarea>
            </li>
            <li th:if="${#lists.isEmpty(productFormDto.productImgDtoList)">
                <p class="listN">상품 이미지</p>
                <div class="filebox" th:each="num: ${#numbers.sequence(1,5)}">
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일" >
                    <label for="file" th:text="상품이미지 + ${num}">파일찾기</label> 
                    <input type="file" id="file" name="productImgFile">
                </div>
            </li>
            <li>
                <p class="listN">상세 이미지</p>
                <div class="filebox">
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                    <label for="file">파일찾기</label> 
                    <input type="file" id="file">
                </div>
            </li>
            <li>
                <p class="listN">상세 이미지</p>                
                <div class="filebox">
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                    <label for="file">파일찾기</label> 
                    <input type="file" id="file">
                </div>
            </li>
            <li>
                <p class="listN">상세 이미지</p>
                <div class="filebox">
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                    <label for="file">파일찾기</label> 
                    <input type="file" id="file">
                </div>
            </li>
            <li>
                <p class="required">관리자 승인 후 홈페이지에 업로드됩니다.</p>
                <button type="submit" class="regBtn">등록하기</button>
            </li>
        </ul>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>

</html>