<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/joinFormStyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="wrap" layout:fragment="content">
            <form action="" id="joinForm">
                <div class="register">
                    <div class="title">회원가입</div>
        
                    <p>
                        <label for="">아이디</label> <input class="textBox" type="text" id="cp_id" th:field="*{cp_id}"
                            name="cp_id" onblur="checkId()" placeholder="5~12자리의 영소문자와 숫자, -, _ 조합">
                        <button type="button" id="idOverlap" class="idOverlap" value="N" onclick="fn_idOverlap()">중복확인</button>
                    </p>
                    
                    <p>
                        <label for="">비밀번호</label> <input class="textBox" type="text" id="m_pw" th:field="*{m_pw}"
                            name="m_pw" onblur="checkPwd()" placeholder="8~12자리의 영대소문자와 숫자 조합">
                    </p>  
                      
                    <p>
                        <label for="">업체명</label> <input class="textBox" type="text" id="m_name" th:field="*{m_name}"
                            name="m_name" onblur="checkName()" placeholder="김그린">
                    </p>
                    
                    <p>
                        <label for="">전화번호</label> <input class="textBox" type="text" id="m_tel" th:field="*{m_tel}"
                            name="m_tel" onblur="checkTel()" placeholder="010-0000-0000">
                    </p>
                    
                    <p>
                        <label for="">주소</label> <input class="textBox" type="text" id="m_addr" th:field="*{m_addr}"
                            name="m_addr">
                    </p>
                    
                    <p>
                        <label for="">우편번호</label> <input class="textBox" type="text" id="m_post" th:field="*{m_post}"
                            name="m_post">
                    </p>
                    
                    <p>
                        <label for="">사업자 등록 번호</label> <input class="textBox" type="text" id="m_post" th:field="*{m_post}"
                            name="m_post">
                    </p>

                    <button class="registerBtn">가입하기</button>
                </div><!--.register-->
            </form>
    </div>
    <script src="./js/joinForm.js"></script>
</body>
</html>
</body>
</html>