<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/joinFormStyle.css">
    <script src="/js/joinForm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script" >

	<!-- 타임리프를 활용한 script문 -->
    <script th:inline="javascript">
	    $(document).ready(function(){
	    	
	        var errorMessage = /*[[${errorMessage}]]*/ "";
	        if(errorMessage != null){
	            alert(errorMessage);
	        }
	    });
    </script>

</th:block>
        <div class="wrap" layout:fragment="content">
            <form action="/members/newm" role="form" method="post"  th:object="${memberFormDto}" id="joinForm">
                <div class="register">
                    <div class="title">회원가입</div>
                    <div id="msg" class="msg"></div>
                    <p>
                        <label for="">아이디</label> <input class="textBox" type="text" id="m_id" th:field="*{m_id}"
                            name="m_id" placeholder="5~12자리의 영소문자와 숫자, -, _ 조합">
                        <button type="button" id="idOverlap" class="idOverlap" value="N" onclick="fn_idOverlap()">중복확인</button>
                    </p>
                    <p th:if="${#fields.hasErrors('m_id')}" th:errors="*{m_id}" class="fieldError">Incorrect data</p>
                    <p>
                        <label for="">비밀번호</label> <input class="textBox" type="text" id="m_pw" th:field="*{m_pw}"
                           name="m_pw"placeholder="8~12자리의 영대소문자와 숫자 조합">
                    </p>  
                    <p th:if="${#fields.hasErrors('m_pw')}" th:errors="*{m_pw}" class="fieldError">Incorrect data</p>       
                    <p>
                        <label for="">이름</label> <input class="textBox" type="text" id="m_name" th:field="*{m_name}"
                            name="m_name" placeholder="김그린">
                    </p>
                    <p th:if="${#fields.hasErrors('m_name')}" th:errors="*{m_name}" class="fieldError">Incorrect data</p>
                    <p>
                        <label for="">전화번호</label> <input class="textBox" type="text" id="m_tel" th:field="*{m_tel}"
                            name="m_tel" placeholder="010-0000-0000">
                    </p>
                    <p th:if="${#fields.hasErrors('m_tel')}" th:errors="*{m_tel}" class="fieldError">Incorrect data</p>
                    <p>
                        <label for="">주소</label> <input class="textBox" type="text" id="m_addr" th:field="*{m_addr}"
                            name="m_addr">
                    </p>
                    <p th:if="${#fields.hasErrors('m_addr')}" th:errors="*{m_addr}" class="fieldError">Incorrect data</p>
                    <button class="registerBtn" type="submit">가입하기</button>
                </div><!--.register-->
                
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
    <script src="./js/joinForm.js"></script>
    </body>
</html>